extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner #{title}
    div.MessageFixed
      div.Title
        h3 Wish you didn't submit those plays?
        h1 Delete Your Scores
      span.Details You can't really delete your scores but y'know what if you could.
      form(action='/scores', method='POST')
        p
          | Insert your osu! ID here:<br>
          input(type='number', name='osu_id', placeholder='eg. 15556259', min='1')
          <br><br>Alternatively, insert your osu! username:<br>
          input(type='text', name='osu_username', placeholder='eg. begora_')
        input(type='hidden', name='init', value='init')
        input(type='submit', value='Submit')
      <br>
      span.Details Data for rank calculations last updated: #{date.toLocaleString('en-SG')} UTC

    div.NavButtons
      a(href="https://github.com/ntwbruce/osu-calc/blob/main/Calculations.md", target="_blank")
        div.NavButton Details about calculations
