extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner dumb osu! calculator and shit
    div.Message
      div.Title
        h3 Wish you didn't submit those plays?
        h1 Delete Your Scores
      span.Details You can't really delete your scores but y'know what if you could.
      form(action='/scores-init', method='POST')
        p
          | Insert your osu! ID here: 
          input(type='number', name='osu_id', placeholder='eg. 15556259', min='1', required)
        input(type='submit', value='Submit')

    div.NavButtons
      a(href="/")
        div.NavButton Doesn't do anything