extends layout

block layout-content
  div.View.WelcomeView(style=`background-image: url(${bg})`)
    h1.Banner #{title}
    div.MessageFixed
      div.Title
        h1 User Not Found
      span.Details Player profile requested is either restricted or deleted. Try another one?
    div.NavButtons
      a(href="/")
        div.NavButton Try another profile
