/* DON'T LOOK I DON'T KNOW WHAT I'M DOING */

@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;

  font-family: "Merriweather Sans", sans-serif;
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 61px;

  border-radius: 10px;

  overflow: hidden;
  background: white;
  padding: 30px;

  margin-bottom: 20px;

  font-family: "Share Tech Mono", monospace;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.MessageFixed {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  width: 100%;
  border-radius: 10px;
}

.Message {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  width: 100%;
  border-radius: 10px;
  height: calc(100% - 170px);
}

.Message > .Title {
  padding-bottom: 20px;
}

.Message > .Profile {
  display: flex;
  text-align: center;
}

.Profile > .ProfileBottom {
  display: flex;
  text-align: center;
  width: 100%;
}

.Profile > .ProfileTop {
  display: flex;
  text-align: center;
  margin-left: -100%;
  width: 100%;
}

.Message > .Scores {
  flex-direction: column;
  overflow-y: scroll;
  line-height: 1.5em;
  height: calc(100% - 250px);
}

.NavButtons {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  margin-top: 15px;
  align-self: center;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 75px;
  width: 170px;

  background: #fa4141;

  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;
  text-align: center;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.WelcomeView {
  background-size: cover;
}

.UserView {
  background-size: cover;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

table {
  width: 100%;
  overflow-y: scroll;
}

.map {
  text-align: left;
  object-fit: cover;
}

.removedstats {
  background-color: rgba(241, 49, 87, 0.877);
}

.removedmap {
  text-align: left;
  background-color: rgba(241, 49, 87, 0.877);
  height: 68.19px;
}

.stats {
  padding: 15px 10px;
}

.removedbutton {
  padding: 15px 10px;
  background-color: rgba(241, 49, 87, 0.877);
}

.bigstats {
  width: calc(100% - 150px);
  padding-top: 70px;
  color: white;
}

.player {
  flex: 0 0 15%;
  padding-top: 80px;
  color: white;
}

.inactiveplayer {
  flex: 0 0 15%;
  padding-top: 60px;
  color: white;
}

.profilephoto {
  flex: 0 0 15%;
  padding-top: 25px;
}

.red {
  color: rgb(255, 0, 0);
}

.green {
  color: rgb(0, 255, 0);
}

.white {
  color: white;
}

.ProfileTop > .opacity {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
  width: 100%;
}

.cover {
  object-fit: cover;
}

input[type='submit'] {
  align-items: center;

  height: 40px;
  width: 110px;

  border-radius: 10px;
  padding: 0;
  margin: 0;

  background: #fa4141;

  font-size: 16px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;
  text-align: center;

  box-shadow: var(--ui-shadow);
}
